*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #555;
}

h1{
    text-align: center;
    margin: 2% auto;
    color: #fff;
}

.main__container{
    width: 90%;
    height: 60vh;
    border: 1px solid #00ff0096;
    margin: 5% auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
}

.container{
    width: 60%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text{
    width: 30%;
    height: 70%;
    border: hidden;
    border-bottom: 1px solid #00f7ffaf;
    text-align: center;
    font-size: 1.3rem;
}
#text:focus{
    outline: none;
}

#btn{
    width: 15%;
    height: 70%;
    border: 1px solid green;
    border-radius: 10px;
    margin-left: 10px;
}

.result{
    padding: 3%;
}

span{
  border: none;
  border-bottom: 1px solid #fbff00a6;
  display: inline-block;
}

p{
    display: inline-block;
    background-color: red;

}